
.container{
    margin: 0px;
    height: 640px  ;  background-color:#f0f2f5;
    display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
}    

.content h1{
    
    font-family: inherit;
    line-height: 1.34;
display: flex;
justify-content:center;
align-items: center;
font-size: 3.1rem;
  color: #1877f2;
  

}

.login-form  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 396px;}

       
 .login-form p{
    font-size: 18px;
    line-height: 22px;
    padding: 5px;
 }




.login-form {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:white;

    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
input{
    border: 1px solid #DDDFE2;
    margin-top: 15px;
    color: white;
    width: 354.95px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
}
#login-btn {
    background-color: #1877f2;
    
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 10px;
    font-weight: bold;
    color: white;
    width: 354.95px;
    height: 48px;
}


.login-form a{
    color: #1877f2;
}



    .footer{
        
        position: relative;
        flex-direction: column;
        text-align:flex start;
        justify-content: flex-start;
        margin-top: 20px;
        margin-left: 340px;
        
        background-color: #FFF;
        min-width: 980px;
        padding-top: 20px;

    }